{% extends "base.html" %}

{% block content %}
<div class="px-1 pt-2 my-2 text-center border-bottom">
    <h1 class="display-5 fw-bold title">Your <span class="todo">TODO</span>'s</h1>
    <div class="col mx-auto">
      <p class="lead mb-4">Welcome to TODO! Your gateway to effective task management. Streamline your day, conquer tasks, and boost productivity effortlessly</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="{{url_for('sign_up')}}" class="btn btn-dark btn-lg px-4 me-sm-3">Sign Up</a>
        <a href="{{url_for('log_in')}}" class="btn btn-outline-secondary btn-lg px-4">Log In</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="{{url_for('static', filename='images/todo-intro.jpg')}}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
{% endblock %}